/*header*/
* { 
    box-sizing: border-box;
    margin: 0px
    
}

body {
    font-size: 20px;
    font-family: 'Raleway', 'San Serif';
    font-weight: 200;
    text-transform: lowercase;
    letter-spacing: 1px

} 

header{
    display:block;
    font-size: 130%;

}

.header-container{
    height: auto;
    margin-top: 20px;
    padding: 0px 5px;
}

.header-container, .header-sub-container{  
    width: 100%;
    display: table;
}

.header-half{ width:50%;}

.header-half, .header-third{ 
    display: table-cell;
    padding: 0px 35px;
    vertical-align: middle;
    background: white
}

/*.header-half:first-of-type{width: 75%}

.header-half:nth-of-type(2){width: 25%}*/

.header-third{  
    width: 10%;
    text-align: right
}

.drop-nav, .header-nav{
    list-style: none;
    padding: 0px;
}

.header-nav{ float: right; }

.header-nav li{
    float: left;
    padding: 0 5px;
}
.tinted{
    text-transform: uppercase;
    letter-spacing: 1.5px
}
.tinted span{ 
    color:#f7cc62;
    text-transform: lowercase;
    letter-spacing: 1px;
}

/*header p{ padding: 20px; font-weight:bold} */

.dropd{ 
    background: white;
    border: 0.5px solid #ecf0f1;
    border-radius: 0px;
    padding: 7.5px;
    width: auto;
    margin: 0px;
    cursor: pointer
}

.dropd svg{ width: 20px}

.dropd:hover{
    background: linear-gradient(to bottom, #fefbf3 0%, #ffffff 100%)
}

.drop-nav li{
    width: auto;
    padding: 5px;
    border: 1px solid #ecf0f1;
    font-size: 0.7em
}

/*logo*/

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
}

.main_position{
    vertical-align: middle;
    position: absolute;
    top: 37.5%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%)
}

.logo_position{
    margin: 0 auto;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    overflow: hidden;
    list-style: none;
    margin: 3em auto;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.l {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    background: auto;
    transition: background 0.3s ease-in
  }

#logo:hover li:first-child{ background:linear-gradient(to bottom right, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(2){ background:linear-gradient(to bottom left, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(3){ background:linear-gradient(to top left, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(4){ background:linear-gradient(to top right,#f7cc62 0%, #f4b721 100%)}

/* Bottom right */
#logo li:first-child {
    transform: rotate(90deg) skewY(0deg);
    background-color: #f7cc62
}

/* Bottom left */
#logo li:nth-child(2) {
    transform: rotate(180deg) skewY(0deg);
    background-color: #f7cc62
}

/* top left */
#logo li:nth-child(3) {
    transform: rotate(270deg) skewY(0deg);
    background-color: #f7cc62
}

/* top right */
#logo li:nth-child(4) {
    transform: rotate(360deg) skewY(0deg);
    background-color: #f7cc62
}

.T {
    top:17.5%;
    left: 27.5%;
    position: absolute;
    font-family: 'Mr Grieves';
    font-size: 8em !important;
    overflow: visible !important
}
/*End Logo*/

/*Page Text*/
#main p{    text-align: center}


.cta{
    margin-bottom: 50px;
    font-weight: 100;
    display: none
}

.s-line{
    margin-top: 80px;
    width: 400px;
    font-size: 125%;
    font-weight: 100
}

#bame{ 
    position: relative; 
    display: inline;
    text-transform: uppercase;
    font-weight: 200
}

#bame span:after{
    height: 10px;
    width: 70px;
    background-color:#f7cc62;
    content: ' ';
    position: absolute;
    left: -50%;
    top: 30%;
    display: inline-block;
    z-index:-1;
    transform: translate(50%,50%)
}


