/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*STANDARD*/
* { 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
    margin: 0px
    
}


body {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: lowercase;
    letter-spacing: 1px;
    cursor: default

} 

header{
    display:block;
    font-size: 130%;
}

button{ cursor: pointer;}

/*HEADER*/

.header-container{
    height: auto;
    margin-top: 30px;
}

.header-container, .header-sub-container{  
    width: 100%;
    display: table;
    padding: 0px 10px;
}

.header-sub-container{position: absolute; }

.invisible{ display: none}

.header-half{ width:50%;}

.header-half, .header-third{ 
    display: table-cell;
    padding: 0px 50px;
    vertical-align: middle;
    background: white
}

.header-third{  
    width: 10%;
    text-align: right
}

/*navigation*/

.drop-nav, .header-nav{
    list-style: none;
    padding: 0px;
}

.header-nav{ float: right; }

.header-nav li{
    float: left;
    padding: 0 5px;
}
.tinted{
    text-transform: uppercase;
    letter-spacing: 1.5px
}
.tinted span{ 
    color:#f7cc62;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 200
}

.drop-nav button, .dropd, .drop-active{
    border-radius: 0px;
    -webkit-transition: border 0.1s ease-in, background-color 0.1s ease-in;
    -o-transition: border 0.1s ease-in, background-color 0.1s ease-in;
    transition: border 0.1s ease-in, background-color 0.1s ease-in
}

.drop-nav button{ 
    width: 150px;
    text-align: right;
    font-weight: 100;
    font-size: 80%;
    letter-spacing: 1px;
    padding: 10px;
    background-color: #ecf0f1;
    color: black;
    border: 0.5px solid white;
    position: relative;
    z-index: 1;
    overflow: auto
}

.drop-nav button:hover{
    background-color: white;
    border: 0.5px solid linear-gradient(to bottom, #ecf0f1 0%, #ffffff 100%);
}

.dropd{ 
    width: auto;
    padding: 7.5px;
    background-color: white;
    border: 0.5px solid #ecf0f1;
}

.dropd svg{ 
    width: 30px;
    fill: black;
    -webkit-transition: fill 0.1s ease-in;
    -o-transition: fill 0.1s ease-in;
    transition: fill 0.1s ease-in
}

.dropd:hover, .dropd:focus, .dropd:active{
    background-color: #ecf0f1;
    border: 0.5px solid white;
}

.dropd:hover svg, .dropd:focus svg, .dropd:active svg{ fill:#f7cc62}

.drop-active{ 
    width: auto;
    padding: 7.5px;
    background-color: #ecf0f1;
    border: 0.5px solid white;
    -webkit-box-shadow: none;
            box-shadow: none
}

.drop-active svg{ 
    fill:#f7cc62;
    width: 30px
}

.drop-nav li{width: auto;}

.drop-nav-active button{ 
    background-color: white;
    border: 0.5px solid #ecf0f1;
}

/*BODY*/

/*logo*/

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
}

.main_position{
    vertical-align: middle;
    position: absolute;
    top: 37.5%;
    left: 50%;
    height: auto;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
}

.logo_position{
    margin: 0 auto;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    overflow: hidden;
    list-style: none;
    margin: 3em auto;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.l {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    background: auto;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in
  }

#logo:hover li:first-child{ background:-webkit-gradient(linear, left top, right bottom, from(#f7cc62), to(#f4b721)); background:-o-linear-gradient(top left, #f7cc62 0%, #f4b721 100%); background:linear-gradient(to bottom right, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(2){ background:-webkit-gradient(linear, right top, left bottom, from(#f7cc62), to(#f4b721)); background:-o-linear-gradient(top right, #f7cc62 0%, #f4b721 100%); background:linear-gradient(to bottom left, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(3){ background:-webkit-gradient(linear, right bottom, left top, from(#f7cc62), to(#f4b721)); background:-o-linear-gradient(bottom right, #f7cc62 0%, #f4b721 100%); background:linear-gradient(to top left, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(4){ background:-webkit-gradient(linear,left bottom, right top,from(#f7cc62), to(#f4b721)); background:-o-linear-gradient(bottom left,#f7cc62 0%, #f4b721 100%); background:linear-gradient(to top right,#f7cc62 0%, #f4b721 100%)}

/* Bottom right */
#logo li:first-child {
    -webkit-transform: rotate(90deg) skewY(0deg);
        -ms-transform: rotate(90deg) skewY(0deg);
            transform: rotate(90deg) skewY(0deg);
    background-color: #f7cc62
}

/* Bottom left */
#logo li:nth-child(2) {
    -webkit-transform: rotate(180deg) skewY(0deg);
        -ms-transform: rotate(180deg) skewY(0deg);
            transform: rotate(180deg) skewY(0deg);
    background-color: #f7cc62
}

/* top left */
#logo li:nth-child(3) {
    -webkit-transform: rotate(270deg) skewY(0deg);
        -ms-transform: rotate(270deg) skewY(0deg);
            transform: rotate(270deg) skewY(0deg);
    background-color: #f7cc62
}

/* top right */
#logo li:nth-child(4) {
    -webkit-transform: rotate(360deg) skewY(0deg);
        -ms-transform: rotate(360deg) skewY(0deg);
            transform: rotate(360deg) skewY(0deg);
    background-color: #f7cc62
}

.T {
    top:22.5%;
    left: 25%;
    position: absolute;
    overflow: visible !important
}

.T img{
    height: 65%;
    width: 65%
}
/*End Logo*/

/*page text*/
#main p{    text-align: center}


.cta{
    margin-bottom: 50px;
    font-weight: 'Extra Light';
    display: none
}

.s-line{
    margin-top: 80px;
    width: 500px;
    font-size: 125%;
    font-weight: 100
}

#bame{ 
    position: relative; 
    display: inline;
    text-transform: uppercase;
    font-weight: 200
}

#bame span:after{
    height: 20px;
    width: 90px;
    background-color:#f7cc62;
    content: ' ';
    position: absolute;
    left: -40%;
    top: 30%;
    display: inline-block;
    z-index:-1;
    -webkit-transform: translate(50%,50%);
        -ms-transform: translate(50%,50%);
            transform: translate(50%,50%)
}

/*MEDIA QUERIES*/

/*Smaller Width*/

@media only screen and (min-width : 481px) and (max-width : 700px) {
    /* Styles */
    body{font-size: 17px}

    .header-half, .header-third{ padding: 0px 35px;}

    .logo_position{
        width: 175px;
        height: 175px;
    }
    
    #bame span:after{
        height: 15px;
        width: 57.5px;
        left: -25%;
        top: 10%;
    }

    .dropd svg {width: 20px}

    .drop-active svg{ width: 20px}

    .drop-nav button{ 
        width: 120px;
        font-weight: 100;
        font-size: 100%
    }
}

/*MOBILE*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    body{font-size: 40px}

    header{font-size: 150%}

    .header-container{
        height: auto;
        margin-top: 60px;
    }

    .tinted span{
        font-weight: 400
    }

    .header-half, .header-third{padding: 0px 50px}

    .main_position{ top: 30%;}

    .logo_position{
        width: 300px;
        height: 300px;
    }

    .s-line{width: 750px }

    #bame span:after{
        height: 30px;
        width: 125px;
        left: -30%;
        top: 22.5%;
    }
    .dropd svg {width: 50px}

    .drop-active svg{ width: 50px}

    .drop-nav button{ 
        width: 270px;
        overflow: auto;
        padding: 12.5px
    }
}
    
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}
    
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}