/*header*/
* { 
    box-sizing: border-box;
    margin: 0px
    
}

body {
    font-size: 20px;
    font-family: 'Raleway', 'San Serif';
    font-weight: 200;
    text-transform: lowercase
} 



header{
    display:block;
    font-size: 110%;
}

.header-container{  
    padding: 5px;
    width: 100%;
    display: table;
    height: 75px;

}

.header-half, .header-third{ 
    width:50%;
    border:1px solid red;
    display: table-cell;
    padding: 0px 35px;
    vertical-align: middle
}

/*.header-half:first-of-type{width: 75%}

.header-half:nth-of-type(2){width: 25%}*/

.header-third{width: 10%}

header ul{ 
    list-style: none;
    padding: 0px;
    float: right;
}

header ul li{
    float: left;
    padding: 0 5px;
}

.tinted span{ color:#f7cc62}

/*header p{ padding: 20px; font-weight:bold} */

/*logo*/

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    display: block
}

.main_position{
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%)
}

.logo_position{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    list-style: none;
    margin: 3em auto;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.l {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    background: auto;
    transition: background 0.3s ease-in
  }

#logo:hover li:first-child{ background:linear-gradient(to bottom right, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(2){ background:linear-gradient(to bottom left, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(3){ background:linear-gradient(to top left, #f7cc62 0%, #f4b721 100%)}
#logo:hover li:nth-child(4){ background:linear-gradient(to top right,#f7cc62 0%, #f4b721 100%)}

/* Bottom right */
#logo li:first-child {
    transform: rotate(90deg) skewY(0deg);
    background-color: #f7cc62
}

/* Bottom left */
#logo li:nth-child(2) {
    transform: rotate(180deg) skewY(0deg);
    background-color: #f7cc62
}

/* top left */
#logo li:nth-child(3) {
    transform: rotate(270deg) skewY(0deg);
    background-color: #f7cc62
}

/* top right */
#logo li:nth-child(4) {
    transform: rotate(360deg) skewY(0deg);
    background-color: #f7cc62
}

.T {
    top:15%;
    left: 22.5%;
    position: absolute;
    font-family: 'Mr Grieves';
    font-size: 6em !important;
    overflow: visible !important
}
/*End Logo*/

/*Page Text*/
#main p{text-align: center}


.cta{
    margin-bottom: 50px;
    font-weight: 100
}

.s-line{
    margin-top: 50px;
    width: 300px
}

#bame{ 
    position: relative; 
    display: inline;
    text-transform: uppercase
}

#bame span:after{
    height: 10px;
    width: 50px;
    background-color:#f7cc62;
    content: ' ';
    position: absolute;
    left: -40%;
    top: 30%;
    display: inline-block;
    z-index:-1;
    transform: translate(50%,50%)
}


